.list-item{
    background-color: rgb(154, 201, 154);
    height: 100px;
    width: 80%;
    margin-bottom: 10px;
    border-radius: 0.5em;
    border: 1px solid rgb(177, 177, 177);
    transition: background-color 200ms linear;
}

.hover-class{
    background-color: rgb(100, 193, 100);
}